    body {
        background-color: #fbfdf9;
        margin-left: 10px;
    }


.mainPart {
   border:3px solid blue;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #86898e;
    text-align: center;
    padding: 8px;
}

p {
 font-family: "Trebuchet MS", Times, serif;
 }
