    body {
        background-color: #f5f7f4;
        margin-left: 10px;
    }


.mainPart {
   border:2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 90%;
    background-color: #b3c2df;
    text-align: center;
    padding: 8px;
}

p {
 font-family: "Trebuchet MS", Times, serif;
 }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
