    body {
        background-color: #e5f9d7;
        margin-left: 10px;
    }


.mainPart {
   border:2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #b3c2df;
    text-align: center;
    padding: 15px;
}

p {
 font-family: "Trebuchet MS", Times, serif;
 }
