    body {
        background-color: #f5f7f4;
        margin-left: 10px;
    }


.mainPart {
   border:2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 90%;
    background-color: #b3c2df;
    text-align: left;
    padding: 8px;
}

p {
    font-family: "Trebuchet MS", Times, serif;
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 1.8;
 }

p.title {
    font-family: "Verdana", Times, serif;
    text-align: center;
    font-size: 40px;
 }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Verdana", Times, serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}
